

.about-img{
    top:-50px;
    right:-100px;
    width:50%;
    max-height:100%;
}
.container-fluid ul{
    padding-inline-start: 18px;
    
}
.btn{
    font-weight: 700;
}
.btn-center{
    text-align: center;
    margin-bottom: 2em;
}
.container-fluid{
    padding-top: 25px;
    }