
.App {
    text-align: left;
}

img.about-img{
    /* margin-top:15px; */
    display: block;
    width:auto;
    height:200px;
    /* right:-100px; */
    margin-left: auto;
    margin-right: auto;
    /* top:-20px; */
    /* margin-left:-15px; */
    border-radius: 50%;
    border: 1px solid #d8d8d8;
}

.place-center{
text-align: center;
}


h3{
    font-weight: 600;
}

.intro-list{

text-transform: uppercase;
letter-spacing: 2px;
font-weight: 500;
}

.container-fluid{
padding-top: 25px;
}

.container-fluid ul.intro-list-skills{
    padding-inline-start: 0px;
    list-style: none;
    margin-left:0px;
    
}

.lead {

text-transform: uppercase;
letter-spacing: 2px;
color: #000;

margin-bottom: 20px;
font-size: 14px;
font-weight: 300;
line-height: 1.4;
}

.color-panel{
    background-color:#f7f7f7;
} 

@media screen and (max-width: 768px){
.intro-text {
    text-align: center;
}
img.about-img{
    margin-bottom: 20px;
}
.about-desc h3{
    line-height: 1.5;
}
}